body {
    background: #ebe3d1;
    color: #3f4e4b;
}

main {
    background-image: url("../img/pattern.jpg");
    background-repeat: repeat;
}

.inputField {
    font-size: 15px;
    background: #ebe3d1;
}

.btn {
    color: #3f4e4b;
    background-color: #d33a32;
    border-color: #c4372e;
}

.btn:hover {
    background-color: #d33a32;
    opacity: 0.7;
    border: solid 1px #721a19;
}


main a {
    background: #ebe3d1 ;
}

.card {
    background: #ebe3d1
}

.jumbotron {
    background-image: url("../img/jumbotron.jpg");
    background-size: 100%;
}

.page-link {
    background-color: #ebe3d1!important;
    border: 1px solid #f4a000;
}

.page-link:hover {
    border: 1px solid #ebe3d1;
    color: #b48437 !important;
}

#gotopbtn {
    background-color: #ebe3d1!important;
    border: 1px solid #f4a000;
}

#gotopbtn:hover {
    color: #b48437 !important;
    border: 1px solid #ebe3d1;
}

/*footer*/

footer {
    background-image: url("../img/pattern.jpg");
    background-repeat: repeat;
}

.form-control {
    font-size: 15px;
    background: #ebe3d1;
}

footer a {
    color: #d33a32;
}

footer a:hover {
    color: #82201a;
}

footer label {
    display: none;
}

#icon {
    display: flex;
    min-width: 0.5rem;
}

#icon img {
    height: 40px;
    margin: 0 7px;
}